<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/CS/Guru99EcommerceProject/pom.xml">
        <classes>
            <class name="VerifyMainWebPage">
                <methods>
                    <include name="VerifyMainPageTitle"/>
                </methods>
            </class>
            <class name="VerifyMobileWebPage">
                <methods>
                    <include name ="VerifyMobileTitle"/>
                    <include name="VerifySortingByName"/>
                    <include name="verifyXperiaPrice"/>
                </methods>
            </class>
            <class name="VerifyShoppingCart">
                <methods>
                    <include name="ShoppingCart"/>
                    <include name="VerifyEmptyCart"/>
                </methods>
            </class>
            <class name="VerifyComparesion">
                <methods>
                    <include name="Compare"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>